<% include ../partials/header %>

<section class="details_container">
  <div class="camp_details">
    <aside class="camp_details_image">
      <img src="<%=camp.image %>" alt="" />
    </aside>

    <aside class="camp_details_info">
      <h1><%= camp.name %></h1>
      <p><%= camp.description %></p>
      <p>Created by: <%= camp.author.username %></p>
      <div class="camp_del_edit">
        <% if (currentUser && camp.author.id.equals(currentUser._id) ){ %>
        <a href="/camps/<%=camp._id%>/edit">
          <button class="camp_but_edit">Edit</button>
        </a>
        <!-- delete forms -->
        <form
          action="/camps/<%= camp._id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button class="camp_but_del">Delete</button>
        </form>
        <% } %>
      </div>
    </aside>
  </div>

  <div class="details_comment_but">
    <a href="/camps"><button>Back</button></a>
    <a href="/camps/<%=camp._id%>/comment/new"><button>New Comment</button></a>
    <hr />
  </div>
  <!-- Comments -->
  <section class="details_comments_container">
    <h2>Comments</h2>
    <% camp.comment.forEach(function(data){%>
    <div class="details_comment">
      <span><%= data.author.username %></span>
      <p><%= data.text %></p>

      <% if (currentUser && data.author.id.equals(currentUser._id) ){ %>
      <a href="/camps/<%=camp._id%>/comment/<%=data._id%>/edit"
        ><button>Edit</button></a
      >
      <form
        action="/camps/<%=camp._id%>/comment/<%=data._id%>?_method=DELETE"
        method="POST"
        style="display: inline"
      >
        <button>Delete</button>
      </form>
      <% } %>
    </div>
    <% });%>
  </section>
</section>

<% include ../partials/footer %>
