<% include ../partials/header %>

<section class="details_container">
  <div class="details_name">
    <!-- <label for="name">Camp Name</label> -->
    <h2><%= camp.name %></h2>
  </div>

  <div class="details_image">
    <!-- <label for="image">Camp Image</label> -->
    <img src="/<%= camp.image %>" class="" alt="" />
  </div>

  <div class="details_desc">
    <!-- <label for="description">Camp Description</label> -->
    <h3><%= camp.description %></h3>
  </div>
  <div class="">
    <!-- <label for="description">Camp Description</label> -->
    <h3>Created by: <%= camp.author.username %></h3>
    <% if (currentUser && camp.author.id.equals(currentUser._id) ){ %>
    <a href="/camps/<%=camp._id%>/edit">
      <button>Edit</button>
    </a>
    <!-- delete forms -->
    <form
      action="/camps/<%= camp._id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button>Delete</button>
    </form>
    <% } %>
  </div>

  <!-- Comments -->
  <% camp.comment.forEach(function(data){%>
  <div class="comment">
    <!-- <label for="comment">Camp Description</label> -->
    <p><strong><%= data.author.username %>: </strong> <%= data.text %></p>

    <% if (currentUser && data.author.id.equals(currentUser._id) ){ %>
    <a href="/camps/<%=camp._id%>/comment/<%=data._id%>/edit"
      ><button>Edit Comment</button></a
    >
    <form
      action="/camps/<%=camp._id%>/comment/<%=data._id%>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button>Delete Comment</button>
    </form>
    <% } %>
  </div>
  <% });%>

  <br />
  <a href="/camps"><button>Back</button></a>
  <a href="/camps/<%=camp._id%>/comment/new"><button>New Comment</button></a>
</section>

<% include ../partials/footer %>
